body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

/* MENU */
.menu{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:15px 30px;
background:#020617;
z-index:1000;
}

.menu a{
color:white;
margin:0 10px;
text-decoration:none;
}

/* HERO */
.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding-top:60px;
}

.botao{
margin-top:20px;
padding:12px 30px;
background:#22c55e;
border-radius:30px;
color:white;
text-decoration:none;
}

/* SERVIÇOS */
.servicos{
padding:60px 20px;
text-align:center;
}

.cards{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
width:200px;
}

/* SOBRE */
.sobre{
padding:60px 20px;
text-align:center;
background:#020617;
}

/* CONTATO */
.contato{
padding:60px 20px;
text-align:center;
}

/* WHATSAPP */
.whatsapp-float{
position:fixed;
bottom:20px;
right:20px;
background:#25d366;
padding:15px;
border-radius:50%;
color:white;
text-decoration:none;
}

/* CHAT */
.chat-container{
position:fixed;
bottom:20px;
right:90px;
}

.chat-btn{
width:60px;
height:60px;
background:#22c55e;
border:none;
border-radius:50%;
color:white;
font-size:24px;
cursor:pointer;
}

.chat-box{
display:none;
width:300px;
height:400px;
background:#020617;
border-radius:10px;
flex-direction:column;
overflow:hidden;
margin-bottom:10px;
}

.chat-header{
background:#22c55e;
padding:10px;
display:flex;
justify-content:space-between;
}

.chat-messages{
flex:1;
padding:10px;
overflow-y:auto;
}

.bot{
background:#1e293b;
padding:8px;
margin-bottom:5px;
border-radius:8px;
}

.chat-options{
padding:10px;
display:flex;
flex-direction:column;
gap:5px;
}

.chat-options button{
background:#22c55e;
border:none;
padding:10px;
border-radius:5px;
color:white;
cursor:pointer;
}